@model AddProjectDto

@{
    ViewData["Title"] = "New Project";
}

<form method="post">
    <div class="border p-3 m-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add New Project</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="ClientId">Client</label>
            <select asp-for="ClientId" class="form-control" asp-items="@ViewBag.ClientList">
            </select>
            <span asp-validation-for="ClientId" class="text-danger"></span>
        </div>
        <br />
        <hr />
        <button typeof="submit" class="btn btn-primary" style="width:150px">Save</button>
        <a asp-action="All" asp-controller="Projects" class="btn btn-primary" style="width:150px">
            back to items
        </a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}